* {
	box-sizing: border-box;
}
body {
	color: white;
	font-size: 20px;
}
.header {
	background-color: red;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.aside_left {
	background-color: green;
	flex-basis: 20%;
	height: 200px;
	text-align: center;
}
.aside_right {
	background-color: pink;
	flex-basis: 20%;
	height: 200px;
	text-align: center;
}
.text {
	background-color: rgb(80, 205, 255);
	flex-basis: 60%;
	text-align: center;
}
.footer {
	background-color: rgb(130, 86, 180);
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.conteiner {
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 992px) {
	.aside_left {
		flex-basis: 100%;
		order: 1;
	}
	.text {
		flex-basis: 70%;
	}
	.aside_right {
		flex-basis: 30%;
	}
}
@media (max-width: 768px) {
	.aside_left {
		flex-basis: 100%;
		order: 1;
	}
	.aside_right {
		flex-basis: 100%;
		order: 1;
	}
	.text {
		flex-basis: 100%;
	}
}
